Lab3/employee.dtd

<!ELEMENT employees (employee+)>
<!ELEMENT employee (name, phones, addresses, mail)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT phones (phone+)>
<!ELEMENT phone (#PCDATA)>
<!ATTLIST phone type CDATA #REQUIRED>
<!ELEMENT addresses (address)>
<!ELEMENT address (street, building, region, city, country)>
<!ELEMENT street (#PCDATA)>
<!ELEMENT building (#PCDATA)>
<!ELEMENT region (#PCDATA)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT country (#PCDATA)>
<!ELEMENT mail (#PCDATA)>
